body{
    background: #F7F7F7;
    margin: 0px;
}

.form-label{
    margin-top: 10px;
}

/*  header  */
.header{
    background-color: antiquewhite;
    border-top: 4px solid green;
}

.header .row{
   display: flex;
}


.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    max-height: max-content;
    img{
        height: 80px;
        margin-right: 10px;
        margin-top: 5px;
    }
    h3{
    font-size: 1.3em;
    margin-top: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    }
    e{
        color: green;
    }
}

.header-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    max-height: max-content;
    h4{
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        margin: 0px;
        font-family: 'Kanit', sans-serif;
    }
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    button{
        background-color: rgba(0, 128, 0, 0);
        color: green;
        padding: 10px 15px;
        border-radius: 20px;
        border: 2px solid green;
        transition: 0.4s;
        font-weight: 400;
        cursor: pointer;
    }
    button:hover{
        transition: 0.4s;
        background-color: green;
        color: white;
    }
}
