body{
    background: #F7F7F7;
    margin: 0px;
    padding-top: 80px;
}

.form-label{
    margin-top: 10px;
}

.button{
    background-color: rgba(0, 128, 0, 0);
    color: $green;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid white;
    transition: 0.4s;
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    &:hover{
        transition: 0.4s;
        background-color: white;
        color: black;
    }
}

.card{
    border-radius: 10px;
    box-shadow: 0px 0px 25px #686868;
}

.cartedroite{
    background: rgba(0, 0, 0, 0.27);
    border: $green 2px solid;
    h3{
        color: white;
    }
    h4{
        text-align: center;
        color: white;
        font-size: 1.3em;
    }
}

.cartegauche{
    background: rgba(0, 0, 0, 0.27);
    border: $green 2px solid;
    h3{
        color: white;
    }
    h4{
        text-align: center;
        color: white;
        font-size: 1.3em;
    }
}

.gauflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification{
    position: fixed;
    left: 20px;
    top: 100px;
    background: $green;
    border-radius: 10px;
    p{
        margin: 10px 15px;
    }
}